<div class='table-responsive d-flex justify-content-center mt-3'>
  <% if @search_users.to_a[0] %>
    <table class='table table-borderless lead w-75 mt-3'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Email</th>
        </tr>
      </thead>

      <tbody>
        <% users&.each do |user| %>
          <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
      <h4>Sorry, but nothing found =( </h4>
  <% end %>
</div>
